{
  "parser": "typescript",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "useTabs": true,
  "tabWidth": 2,
  "endOfLine": "auto"
}